<div id="<%= dom_id post %>">
  <%= image_tag url_for(post.image) if post.image.attached? %>

  <p class="my-5">
    <%= post.description %>
  </p>

  <%= link_to "Edit", edit_post_path(post) %>
  <hr class="mt-6">
</div>
