<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing post</h1>

  <%= render "form", post: @post %>

  <div class="inline-block ml-2">
    <%= button_to "Destroy this post" , post_path(@post), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-red-700 text-white font-medium" %>
  </div>
  <%= link_to "Back to posts", posts_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
